@import "variables.scss";
@import "animations.scss";
@import "recognition.scss";
@import "synthesis.scss";
@import "bluetooth.scss";
@import "battery.scss";
body {
    background: $blue;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro';
}

* {
    box-sizing: border-box;
}

*:focus {
    outline-width: 1px;
    outline-color: #fff;
}

.navigation {
    &__container {
        position: fixed;
        z-index: 10;
        top: 50%;
        white-space: nowrap;
        font-size: 18px;
        padding: 6px 10px;
        background: #333;
        color: #fff;
        text-decoration: none;
        height: 40px;
        margin-top: -20px; 
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        will-change: box-shadow;
        &--next {
            right: 15px;
        }
        &--prev {
            left: 15px;
        }
        &:hover {
            box-shadow: 0px 0px 5px 9999px rgba(0, 0, 0, 0.75);
        }
    }
    &__title {
        display: none;
        margin: 0 5px;
        .navigation__container:hover & {
            display: inline;
        }
    }
}

footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #fefefe;
    a {
        color: $pink;
        text-decoration: none;
        font-weight: 500;
        span {
            font-weight: 700;
            color: #fff;
        }
    }
}
